.App {
  max-width: 50vw;
  margin: auto;
}
.search form {
  width: 80%;
  display: flex;
  align-items: center;
}
input[type="search"] {
  border-radius: 0;
  outline: none;
  border: 1px solid gray;
  border-right: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  height: 30px;
  padding: 4px;
  width: 100%;
}
.search button {
  height: 30px;
  padding: 4px 9px;
  border: 1px solid rgb(48, 120, 255);
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background: rgb(48, 120, 255);
  color: white;
  cursor: pointer;
}
.search .clear-search{
  margin-left: 0.5rem ;
  background:white;
  color: black;
  border-color: black;
  border-radius: 3px;
  right: 0;
}